server/src/weblab/login/facade/LoginWebLabDeusto.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	This WSDL describes the Remote Facade of the WebLab-Deusto server.
-->
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="es.deusto.weblab.server"
  targetNamespace="es.deusto.weblab.server" >
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="es.deusto.weblab.server">

			<xsd:complexType name="SessionIdType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<!--
			  **************************
			  * Requests and Responses *
			  **************************
			-->

			<!-- Login -->
			<xsd:element name="LoginRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="username" type="xsd:string"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="password" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LoginResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:SessionIdType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- LoginBasedOnClientAddress -->
			<xsd:element name="LoginBasedOnClientAddressRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="username" type="xsd:string"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="client_address" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LoginBasedOnClientAddressResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:SessionIdType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>




	<message name="LoginRequest">
		<part name="parameters" element="tns:LoginRequest" />
	</message>
	<message name="LoginResponse">
		<part name="parameters" element="tns:LoginResponse"/>
	</message>
	<message name="LoginBasedOnClientAddressRequest">
		<part name="parameters" element="tns:LoginBasedOnClientAddressRequest" />
	</message>
	<message name="LoginBasedOnClientAddressResponse">
		<part name="parameters" element="tns:LoginBasedOnClientAddressResponse"/>
	</message>

	<portType name="WebLabDeusto">
		<operation name="login">
			<input message="tns:LoginRequest"/>
			<output message="tns:LoginResponse"/>
		</operation>
		<operation name="login_based_on_client_address">
			<input message="tns:LoginBasedOnClientAddressRequest"/>
			<output message="tns:LoginBasedOnClientAddressResponse"/>
		</operation>
	</portType>

	<binding name="WebLabDeusto" type="tns:WebLabDeusto">
		<soap:binding style="document" 
			transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="login">
			<soap:operation soapAction="login"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
		<operation name="login_based_on_client_address">
			<soap:operation soapAction="login_based_on_client_address"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
	</binding>

  <service name="WebLabDeusto">
    <port name="WebLabDeusto" binding="tns:WebLabDeusto">
        <soap:address location="https://www.weblab.deusto.es/weblab/login/soap/"/>
    </port>
  </service>

</definitions>
