server/src/voodoo/gen/loader/xsd/machine_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified"
	targetNamespace="http://www.weblab.deusto.es/configuration"
	xmlns:tns="http://www.weblab.deusto.es/configuration"
	>
	<xs:element name="instances">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="runner" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="xs:anyType">
								<xs:attribute name="file" use="required" type="xs:string"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="configuration" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="xs:anyType">
								<xs:attribute name="file" use="required" type="xs:string"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="instance" maxOccurs="unbounded" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="([a-zA-Z0-9_-])+"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

