server/src/weblab/user_processing/facade/UserProcessingWebLabDeusto.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	This WSDL describes the Remote Facade of the WebLab-Deusto server.
-->
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="es.deusto.weblab.server"
  targetNamespace="es.deusto.weblab.server" >
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="es.deusto.weblab.server">

			<xsd:complexType name="SessionIdType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="CommandType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="commandstring" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="CategoryType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ExperimentType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string"/> 
					<xsd:element minOccurs="0" maxOccurs="1" name="category" type="tns:CategoryType"/> 
					<xsd:element minOccurs="0" maxOccurs="1" name="start_date" type="xsd:string"/> 
					<xsd:element minOccurs="0" maxOccurs="1" name="end_date" type="xsd:string"/> 
				</xsd:sequence>
            </xsd:complexType>

			<xsd:complexType name="ExperimentIdType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="exp_name" type="xsd:string"/> 
					<xsd:element minOccurs="0" maxOccurs="1" name="cat_name" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ExperimentAllowedType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="experiment" type="tns:ExperimentType"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="time_allowed" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RoleType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string"/> 
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="UserInformationType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="login" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="full_name" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="role" type="tns:RoleType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ReservationType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="status" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="position" type="xsd:int" />
					<xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:int" />
					<xsd:element minOccurs="0" maxOccurs="1" name="initial_configuration" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

		<!-- TODO: This is how it SHOULD be:
			<xsd:complexType name="ReservationType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="status" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="WaitingReservationType">
				<xsd:complexContent mixed="false">
					<xsd:extension base="tns:ReservationType">
						<xsd:sequence>
							<xsd:element minOccurs="0" maxOccurs="1" name="position" type="xsd:int" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="WaitingInstancesType">
				<xsd:complexContent mixed="false">
					<xsd:extension base="tns:ReservationType">
						<xsd:sequence>
							<xsd:element minOccurs="0" maxOccurs="1" name="position" type="xsd:int" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="WaitingConfirmationReservationType">
				<xsd:complexContent mixed="false">
					<xsd:extension base="tns:ReservationType">
						<xsd:sequence />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ConfirmedReservationType">
				<xsd:complexContent mixed="false">
					<xsd:extension base="tns:ReservationType">
						<xsd:sequence>
							<xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:int" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="CancellingReservationType">
				<xsd:complexContent mixed="false">
					<xsd:extension base="tns:ReservationType">
						<xsd:sequence />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		-->

			<!--
			  **************************
			  * Requests and Responses *
			  **************************
			-->

			<!-- Logout -->
			<xsd:element name="LogoutRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="session" type="tns:SessionIdType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LogoutResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>

			<!-- List experiments -->
			<xsd:element name="ListExperimentsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="session" type="tns:SessionIdType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ListExperimentsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="unbounded" name="ListExperimentsResult" type="tns:ExperimentAllowedType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- reserve_experiment -->
			<xsd:element name="ReserveExperimentRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="session" type="tns:SessionIdType" />
						<xsd:element minOccurs="0" maxOccurs="1" name="experiment_id" type="tns:ExperimentIdType" />
						<xsd:element minOccurs="0" maxOccurs="1" name="client_initial_data" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReserveExperimentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="ReserveExperimentResult" type="tns:ReservationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- finished_experiment -->
			<xsd:element name="FinishedExperimentRequest">
				<xsd:complexType>	
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="session" type="tns:SessionIdType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FinishedExperimentResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>

			<!-- get_reservation_status -->
			<xsd:element name="GetReservationStatusRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="session" type="tns:SessionIdType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetReservationStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="GetReservationStatusResult" type="tns:ReservationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- send_file -->
			<xsd:element name="SendFileRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="session" type="tns:SessionIdType"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="content" type="xsd:string"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="file_info" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendFileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="SendFileResult" type="tns:CommandType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<!-- send_command -->
			<xsd:element name="SendCommandRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="session" type="tns:SessionIdType"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="command" type="tns:CommandType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendCommandResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="SendCommandResult" type="tns:CommandType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- poll -->
			<xsd:element name="PollRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="session" type="tns:SessionIdType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PollResponse">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>

			<!-- get_user_information -->
			<xsd:element name="GetUserInformationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="session" type="tns:SessionIdType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetUserInformationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="user_information" type="tns:UserInformationType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>


	<message name="LogoutRequest">
		<part name="parameters" element="tns:LogoutRequest"/>
	</message>
	<message name="LogoutResponse">
		<part name="parameters" element="tns:LogoutResponse"/>
	</message>
	<message name="ListExperimentsRequest">
		<part name="parameters" element="tns:ListExperimentsRequest"/>
	</message>
	<message name="ListExperimentsResponse">
		<part name="parameters" element="tns:ListExperimentsResponse"/>
	</message>
	<message name="ReserveExperimentRequest">
		<part name="parameters" element="tns:ReserveExperimentRequest"/>
	</message>
	<message name="ReserveExperimentResponse">
		<part name="parameters" element="tns:ReserveExperimentResponse"/>
	</message>
	<message name="FinishedExperimentRequest">
		<part name="parameters" element="tns:FinishedExperimentRequest"/>
	</message>
	<message name="FinishedExperimentResponse">
		<part name="parameters" element="tns:FinishedExperimentResponse"/>
	</message>
	<message name="GetReservationStatusRequest">
		<part name="parameters" element="tns:GetReservationStatusRequest"/>
	</message>
	<message name="GetReservationStatusResponse">
		<part name="parameters" element="tns:GetReservationStatusResponse"/>
	</message>
	<message name="SendFileRequest">
		<part name="parameters" element="tns:SendFileRequest"/>
	</message>
	<message name="SendFileResponse">
		<part name="parameters" element="tns:SendFileResponse"/>
	</message>
	<message name="SendCommandRequest">
		<part name="parameters" element="tns:SendCommandRequest"/>
	</message>
	<message name="SendCommandResponse">
		<part name="parameters" element="tns:SendCommandResponse"/>
	</message>
	<message name="PollRequest">
		<part name="parameters" element="tns:PollRequest"/>
	</message>
	<message name="PollResponse">
		<part name="parameters" element="tns:PollResponse"/>
	</message>
	<message name="GetUserInformationRequest">
		<part name="parameters" element="tns:GetUserInformationRequest"/>
	</message>
	<message name="GetUserInformationResponse">
		<part name="parameters" element="tns:GetUserInformationResponse"/>
	</message>

	<portType name="WebLabDeusto">
		<operation name="logout">
			<input message="tns:LogoutRequest"/>
			<output message="tns:LogoutResponse"/>
		</operation>
		<operation name="list_experiments">
			<input message="tns:ListExperimentsRequest"/>
			<output message="tns:ListExperimentsResponse"/>
		</operation>
		<operation name="reserve_experiment">
			<input message="tns:ReserveExperimentRequest"/>
			<output message="tns:ReserveExperimentResponse"/>
		</operation>
		<operation name="finished_experiment">
			<input message="tns:FinishedExperimentRequest"/>
			<output message="tns:FinishedExperimentResponse"/>
		</operation>
		<operation name="get_reservation_status">
			<input message="tns:GetReservationStatusRequest"/>
			<output message="tns:GetReservationStatusResponse"/>
		</operation>
		<operation name="send_file">
			<input message="tns:SendFileRequest"/>
			<output message="tns:SendFileResponse"/>
		</operation>
		<operation name="send_command">
			<input message="tns:SendCommandRequest"/>
			<output message="tns:SendCommandResponse"/>
		</operation>
		<operation name="poll">
			<input message="tns:PollRequest"/>
			<output message="tns:PollResponse"/>
		</operation>
		<operation name="get_user_information">
			<input message="tns:GetUserInformationRequest"/>
			<output message="tns:GetUserInformationResponse"/>
		</operation>
	</portType>

	<binding name="WebLabDeusto" type="tns:WebLabDeusto">
		<soap:binding style="document" 
			transport="http://schemas.xmlsoap.org/soap/http"/>

		<operation name="logout">
			<soap:operation soapAction="logout"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
		<operation name="list_experiments">
			<soap:operation soapAction="list_experiments"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
		<operation name="reserve_experiment">
			<soap:operation soapAction="reserve_experiment"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
		<operation name="finished_experiment">
			<soap:operation soapAction="finished_experiment"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
		<operation name="get_reservation_status">
			<soap:operation soapAction="get_reservation_status"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
		<operation name="send_file">
			<soap:operation soapAction="send_file"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
		<operation name="send_command">
			<soap:operation soapAction="send_command"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
		<operation name="poll">
			<soap:operation soapAction="poll"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
		<operation name="get_user_information">
			<soap:operation soapAction="get_user_information"/>
			<input>
				<soap:body use="literal"/> 
			</input>
			<output>
				<soap:body use="literal"/> 
			</output>
		</operation>
	</binding>

  <service name="WebLabDeusto">
    <port name="WebLabDeusto" binding="tns:WebLabDeusto">
	<soap:address location="https://www.weblab.deusto.es/weblab/soap/"/>
    </port>
  </service>

</definitions>
